body {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    box-sizing: border-box;
    background-color: #1f1f1f;
    font-family: monospace;
}

.red {
    display: flex;
    color: #f81118;
}

#result {
    color: #d6dbe5;
}

#result .blue {
    display: flex;
    align-items: center;
    color: #3273db
}

#result .lblue {
    align-items: center;
    display: flex;
    color: #5a96f7
}

#result .red {
    display: flex;
    color: #f81118;
}

a {
    text-decoration: none;
    color: #3273db;
}

a::visited {
    color: #3273db;
}

.white {
    display: flex;
    font-size: 1.5rem;
    color: #d6dbe5;
    align-items: center;
}

.green {
    display: flex;
    font-size: 1.5rem;
    color: #2dc55e;
}


::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: #474747;
}

input {
    margin-left: .3em;
    border: 0;
    font-size: 1.5rem;
    color: #d6dbe5;
    background-color: transparent;
    width: 70vw;
    outline: none;
}